# Lots of junk goes in here.
/caches/
/backups/

# Top secret stuff!
/link/.ssh/*

# Except for the non-secrets, haha!
!/link/.ssh/authorized_keys
!/link/.ssh/config

# Don't commit Vim plugins, vim-plug will install them.
/link/.vim/bundle/*
/link/.vim/bundle/*.vim
!/link/.vim/bundle/Vundle.vim

# Don't commit .netrwhist
/link/.vim/.netrwhist

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*

# ignore tmux history and plugins
/link/.tmux/resurrect/*.*
/link/.tmux/resurrect/*
/link/.tmux/plugins/*
/link/.tmux/sidebar/*.*
