# Show all completions as soon as tab is pressed, even if there's more than one
# set show-all-if-ambiguous on

# Ignore case
set completion-ignore-case on

set editing-mode vi

$if mode=vi
    ##########################################################
    # Keymaps for when we're in command mode (e.g., after hitting ESC)
    set keymap vi-command

    ###########################################################
    # Keymaps for when we're in insert (i.e., typing stuff in) mode
    set keymap vi-insert
    
   #  clear screen
    "\C-l": "\e\C-la"

    # map "jk" to exit insert mode
    "jk": vi-movement-mode 
$endif
